body{
	background-color: #769fcd;
}

/*--Estilo Blocos Iniciais--*/
.whoarewe{
	border: medium solid #222831;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	background-image: url(../images/header-bckg.jpg);
	text-align: center;
	float:left;
	padding: 5%;
	max-width: 30%;
	margin-left: 9.6%;
}

.whoarewe h1{
	font-size: large;
	color: black;
}

.whoarewe p{
	color: #222831;
}

/*--Tela Formulario de Login--*/
.loginform{
	border: medium solid #222831;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
	background-image: url(../images/header-bckg.jpg);
	text-align: center;
	float:left;
	margin-left: 20px;
	padding: 5%;
	max-width: 30%;
	margin-right: 9.6%;
}

.loginform button{
	background-color: #aa96da;
	border: thick dashed black;
	border-radius: 10px;
	color: black;	
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	margin: 10px;
	padding: 10px;
	padding-left: 30px;
	padding-right: 30px;
}

.loginform button:hover{
	border-color:white;
}

/*--------Estilos do Cabeçalho*/

.cabecalho header{
	background-image: url(../images/header-bckg.jpg);
	background-size: 100%;
	border: medium solid #222831;
	border-radius: 10px;
	color: #222831;
	font-family: 'Pacifico', cursive;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
	padding: 5%;
	text-align: center;
	width: 70%;
}

/*--------Estilos do Seletor*/

.seletor{
	background-color: #252a34;
	border: none;
	border-radius: 10px;
	color: #8785a2;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 25px;
	margin-left: auto;
	margin-right: auto;
	padding: 5%;
	text-align: center;
	width: 70%;	
}

.botao-menu{
	background-color: #aa96da;
	border: thick dashed black;
	border-radius: 10px;
	color: black;	
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	margin: 50px;
	padding: 50px;
}

.botao-menu:hover{
	border-color: white;
}

.botao-menu img{
	width: 150px;
	height: 150px;
}

.seletor h2{
	color: #43d8c9;
}

/*--------Estilos do Serviço/Produto Pequeno*/

.seletor ul{
	display: inline-block;
	list-style: none;
}
.seletor li{
	float: left;
}

.serv-pequeno{
	background-color: #aa96da;
	border: none;
	border-radius: 10px;	
	font-family: 'Josefin Sans', sans-serif;
	color: black;
	font-size: 25px;
	padding: 5%;
	text-align: center;
	width: 230px;	
	height: 400px;	
	margin: 25px;
}

.prod-serv-miniatura, .pessoa-miniatura{
	width: 150px;
	height: 150px;
	margin-bottom: 30px;
}

.buy-btn-small, .buy-btn-big{
	background-color: #88304e;
	border: none;
	border-radius: 5px;
	color: white;	
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	margin-top: 20px;
	padding: 20px;
	width: 200px;
	margin-right: auto;	
	margin-left: auto;
}

/*--------Estilos do Serviço/Produto Grande*/

.serv-grande{
	background-color: #aa96da;
	border: none;
	border-radius: 10px;	
	font-family: 'Josefin Sans', sans-serif;
	font-size: 35px;
	min-height: 50%;
	max-height: 100%;
	width: 45%;
	padding: 5%;
	position: relative;
	margin: 25%;
}

.serv-grande img{
	float: left;
	height: 200px;
	margin-right: 30px;
	width: 200px;
}

.serv-grande .closeButton{
	position: relative;
	top: -55px;
	right: -55px;
}

.serv-grande .buy-btn-big{
	font-size: 15px;
	margin-left: auto;
	margin-right: auto;
	width: 150px;
}

.serv-grande #descricao-produto{
	margin-top: 40px;
	font-size: 15px;
}

.serv-grande p{
	text-align: justify;	
}
/*--Estilo Registro do Admin--*/

.regAdmin{
	width: 800px;
	height: 120px;
	border: 3px;
	border-radius: 5px;
	border-color:black;
	border-style: dashed;
	background-color: #aa96da;
	font-family: 'Josefin Sans', sans-serif;
}

.regAdmin img{
	width: auto; 
	max-height: 80px; 
	margin: 20px; 
	border:1px; 
	border-style: solid; 
	border-radius: 52%;
	float: left;
}

.regAdmin ul{
	list-style: none;
	margin: 10px;
	padding: 15px;
	margin-top: 20px;
}

.regAdmin li{
	margin: 5px;
}

.regAdmin #list1{
	float: left ;
}
.closeButton{
	width: 30px;
	height: 30px;
	background-color: rgba(221, 29, 29, 0.63);
	float:right;
	border-radius: 50%;
}

/*-- Estilo Registro de Animal--*/

.regAnimal{
	width: 800px;
	height: 220px;
	border: 3px;
	border-radius: 5px;
	border-color:black;
	border-style: dashed;
	background-color: #aa96da;
	font-family: 'Josefin Sans', sans-serif;
}

.regAnimal img{
	max-width: auto; 
	max-height: 120px; 
	margin: 20px;
	margin-top: 45px; 
	border:1px; 
	border-style: solid; 
	border-radius: 5%;
	float: left;
}

.regAnimal ul{
	margin: 10px;
	padding: 15px;
	margin: 30px;
	float:left
}

.regAnimal #list1{
	list-style: none;  
			  
}

.regAnimal .listItem{
	padding: 3px;
}

.regAnimal #button2{
	float:top ;
}

/*-- Estilo Registro do Usuario Cliente--*/

.userDiv{
	width: 80%;
	height: 40px;
	border: 3px;
	border-radius: 5px;
	border-color:black;
	border-style: solid;
	background-color: #aa96da;
	font-family: 'Josefin Sans', sans-serif;
	margin-left: auto;
	margin-right: auto;
	
}

.userDiv img{
	width: auto; 
	max-height: 32px; 
	margin: 4px; 
	border:1px; 
	border-style: solid; 
	border-radius: 2px;
	float: left;
}

.userDiv button{
	margin: 10px;
	border: 2px;
	border-radius: 2px;
	border-color: white;
	background-color: #8e7cb8 ;
	float: right;
}

.cart{
	width: auto;
	max-height: 30px;
	margin: 10px;
	border: 2px;
	border-style: solid;
	border-radius: 2px;
	float: right;
}

.seletor .productholder{
	
}

/*Estilo do Gerenciador de Produtos*/

.manager{
	background-color: #aa96da;
	border: none;
	border-radius: 10px;	
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	height: 600px;
	width: 1100px;
	padding: 0;
}

.manager .editor{
	background-color: #2c003e;
	border-radius: 10px;
	color: white;
	float: left;
	height: 600px;
	width: 300px;
	text-align: center;
	overflow: auto;
}

.manager .editor input{
	font-family: 'Poppins', sans-serif;
	font-size: 20px;	
	color: white;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: transparent;
	border-style: none;
	width: 200px;
}

.manager .editor input.nome-prod-serv{
	margin-top: 35px;
}

.manager .editor textarea{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;	
	color: white;
	display: block;
	margin-right: auto;
	margin-left: auto;
	background-color: transparent;
	border-style: none;
	width: 230px;
	height: 300px;
	text-align: justify;
	margin-top: 35px;
}

.manager .editor #estoque-check{
	width: 20px;
	margin-top: 40px;
	margin-bottom: 10px;
	margin-right: 85px;
}

.manager .editor #estoque-label{
	float: left;
	margin-left: 60px;
	margin-right: 20px;
	margin-top: 31px;
}

.manager .editor button{
	display: block;
	font-family: 'Poppins', sans-serif;
	font-size: 16px;	
	background-color: transparent;
	border-width: 2px;
	border-radius: 15px;
	clear: left;
	margin: 35px auto 10px;
	padding: 10px 30px 10px;
	width: 150px;
}

.save-btn{
	border-color: green;
	color: green;	
}

.time-slots-btn, .view-pets-btn{
	border-color: blue;
	color: blue;
}

.manager .inventory{
	background-color: #512b58;
	border-radius: 10px;
	color: white;
	float: right;
	height: 600px;
	text-align: center;
	width: 800px;
}

.manager .search{
	background-color: transparent;
	border-radius: 15px;
	border: solid yellow 2px;
	color: yellow;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	margin-right: 10px;
}

.search-btn{
	border-color: yellow;
}

.manager h2{
	font-family: 'Josefin Sans', sans-serif;
}

/* Estilo da lista de registros */
.lista-registros{
	overflow: auto;
	height: 400px;
}

/*Estilo Registro do Produto*/

.registro{
	height: 60px;
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	margin-top: 10px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.registro-nome{
	float: left;
	border: solid 2px;
	border-radius: 15px;
	width: 505px;
	padding-left: 10px;
	text-align: left;
}

.btn-del{
	border-color: red;
	float: right;
}

.btn-edit{
	border-color: blue;
	float: right;
}

/*Estilo para botões dentro da área do inventário (geral -- cores estão especificadas acima)*/

.img-btn{
	height: 20px;
	width: 20px;
}

.inventory-btn{
	background-color: transparent;
	border-width: 2px;
	height: 34px;
	width: 34px;
	margin-bottom: 20px;
	margin-top: 20px;
	margin-left: 5px;
	border-radius: 100%;
}

.add-btn{
	border-color: green;
}

.inventory .closeButton{
	position: relative;
	top: 5px;
	right: 5px;
}
	
.big-box-modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0); /* Fallback color */
	background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	float: top;
}

/*Estilo da janela de pop-up pequena*/
.pop-up-peq{
	background-color: #aa96da;
	text-align: center;
	padding: 20px;
	width: 660px;
	font-family: 'Poppins', sans-serif;
	font-size: 20px;
	border-radius: 15px;
}

.pop-up-peq .btn-1.green{
	margin-right: 10px;
}

.pop-up-peq .btn-1.red{
	margin-left: 10px;
}

.pop-up-peq .closeButton{
	margin-top: -15px;
	margin-right: -15px;  
}

/*Estilo de botões gerais*/

.btn-1{
	font-family: 'Poppins', sans-serif;
	font-size: 16px;	
	background-color: transparent;
	border-width: 2px;
	border-radius: 15px;
	padding: 10px 30px 10px;
	width: 150px;		
}

.btn-1.red{
	border-color: red;
	color: red;
}

.btn-1.green{
	border-color: green;
	color: green;
}